.app__nav {
  border-bottom: 1px solid #000;
  text-align: center; /* can be center / left / right depending on your layout */
  margin-top: 52px;
}

.app__nav,
.app__nav a {
  position: relative;
  z-index: 2;
}

.app__nav a {
  color: #000;
  background-color: #fff;
  text-decoration: none;
  display: block;
  padding: 1em;
}

.app__nav a:hover,
.app__nav a:focus {
  background-color: #000;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .app__nav {
    margin-top: 0;
  }
  .app__nav > li {
    display: inline-block;
  }
}
